:root{
    /* Tamaños de font principal */
    --tamaño-font-nav-a: 2.5rem;
    --tamaño-font-nav-spam: 2.6rem;
    --tamaño-font-nav-img: 5.6rem;
    --tamaño-font-nav-title: 2rem;

    /* Tamaños de font hasta los 1500px */
    ---tamaño-font-nav-a: 2.1rem;
    ---tamaño-font-nav-spam: 2.4rem;
    ---tamaño-font-nav-img: 5.4rem;
    ---tamaño-font-nav-title: 1.5rem;

    /* Tamaños de font hasta los 1500px */
    ----tamaño-font-nav-a: 1.9rem;
    ----tamaño-font-nav-spam: 2.2rem;
    ----tamaño-font-nav-img: 5.2rem;
    ----tamaño-font-nav-title: 1rem;

    /* Tamaños de font hasta los 1500px */
    -----tamaño-font-nav-a: 1.7rem;
    -----tamaño-font-nav-spam: 2rem;
    -----tamaño-font-nav-img: 5rem;
    -----tamaño-font-nav-title: 0.5rem;

    /* Colores */
    --griss-claro: rgba(0,0,0,0.1);
    --griss-mas-claro: rgba(0,0,0,0.01);
}


html{
    font-size:62.5%;
    box-sizing: border-box; 
    scroll-snap-type: y mandatory;
    background-color: var(--griss-claro);
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
h1{
    font-size: 3rem;
    color: black;
    text-align: center;
}

/* CÓDIGO DE ENCABEZADO */
header{
    display:flex;
}
/* Estilos del logo */
.logo{
    width: 60%;
    height: 10%;
    background: var(--griss-claro);
    display: flex;
    align-items: center;
}
/* Contenido del logo */
header .logo a{
    text-decoration: none;
    font-size: var(--tamaño-font-nav-a);
}
header .logo a:hover{
    font-weight: 800;
    color: rgb(29, 30, 99);
    background: var(--griss-mas-claro);
}
header .logo a span{
    font-size: var(--tamaño-font-nav-spam);
}
header .logo img{
    width: var(--tamaño-font-nav-img);
}
header .logo .title{
    margin-left: var(---tamaño-font-nav-title);
}

/* Estilos del nav */
.navbar{
    width: 100%;
    background: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15rem;
}
.navbar a{
    text-decoration: none;
    font-size: var(--tamaño-font-nav-a);
}
.navbar a:hover{
    font-weight: 800;
    color: rgb(29, 30, 99);
    background: var(--griss-mas-claro);
}

/* KEY FRAMES */

@media (max-width: 1500px) {
    /* Contenido del logo */
    header .logo a{
        font-size: var(---tamaño-font-nav-a);
    }
    header .logo a span{
        font-size:var(---tamaño-font-nav-spam);
    }
    header .logo img{
        width: var(---tamaño-font-nav-img);
    }
    header .logo .title{
        margin-left: var(---tamaño-font-nav-title);
    }

    /* Estilos del nav */
    .navbar{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10rem;
    }
    .navbar a{
        text-decoration: none;
        font-size: var(---tamaño-font-nav-a);
    }
}

@media (max-width: 1090px) {
    /* Contenido del logo */
    header .logo a{
        font-size: var(----tamaño-font-nav-a);
    }
    header .logo a span{
        font-size:var(----tamaño-font-nav-spam);
    }
    header .logo img{
        width: var(----tamaño-font-nav-img);
    }
    header .logo .title{
        margin-left: var(----tamaño-font-nav-title);
    }

    /* Estilos del nav */
    .navbar{
        padding: 0 7rem;
    }
    .navbar a{
        text-decoration: none;
        font-size: var(----tamaño-font-nav-a);
    }
}

@media (max-width: 800px) {
    /* Contenido del logo */
    header .logo a{
        font-size: var(-----tamaño-font-nav-a);
    }
    header .logo a span{
        font-size: var(-----tamaño-font-nav-spam);
    }
    header .logo img{
        width: var(-----tamaño-font-nav-img);
    }
    header .logo .title{
        margin-left: var(-----tamaño-font-nav-title);
    }
    /* Estilos del nav */
    .navbar{
        padding: 0 3rem;
    }
    .navbar a{
        text-decoration: none;
        font-size: var(-----tamaño-font-nav-a);
    }
}