
/* CÓDIGO DE ENCABEZADO */
.header{
    display:flex;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
/* Estilos del logo */
.header__logo{
    width: 60%;
    height: 10%;
    background: var(--griss-claro);
    display: flex;
    align-items: center;
}
/* Contenido del logo */
.header__logo a{
    text-decoration: none;
    font-size: var(--tamaño-font-nav-a);
}
.header__logo a:hover{
    color: rgb(29, 30, 99);
    background: var(--griss-mas-claro);
}
.header__logo a span{
    font-size: var(--tamaño-font-nav-spam);
}
.header__logo img{
    width: var(--tamaño-font-nav-img);
}
.title{
    color: var(--colorh1);
    font-size: var(---tamaño-font-nav-a);
}
.title:hover{
    color: var(--colorlink);
    background-color: var(--griss-claro)
}

/* Estilos del nav */
.header__navbar{
    width: 100%;
    background: var(--griss-claro);
}
.header__navbar ul{
    height: 100%;
    list-style: none;
    text-align: right;
}
.nabvar__link {
    display: inline-block;
    font-size: var(--tamaño-font-nav-a);
}
.nabvar__link a{
    color: var(--colorh1);
    text-decoration: none;
    display: block;
    padding: 1.6rem;
}
.nabvar__link a:hover{
    color: var(--colorlink);
    background-color: var(--griss-claro)
}
.fas{
    margin: 0 1rem;
}

/* KEY FRAMES */

@media (max-width: 1500px) {
    /* Contenido del logo */
    header .logo a{
        font-size: var(---tamaño-font-nav-a);
    }
    header .logo a span{
        font-size:var(---tamaño-font-nav-spam);
    }
    header .logo img{
        width: var(---tamaño-font-nav-img);
    }
    header .logo .title{
        margin-left: var(---tamaño-font-nav-title);
    }

    /* Estilos del nav */
    .navbar{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10rem;
    }
    .navbar a{
        text-decoration: none;
        font-size: var(---tamaño-font-nav-a);
    }
}

@media (max-width: 1090px) {
    /* Contenido del logo */
    header .logo a{
        font-size: var(----tamaño-font-nav-a);
    }
    header .logo a span{
        font-size:var(----tamaño-font-nav-spam);
    }
    header .logo img{
        width: var(----tamaño-font-nav-img);
    }
    header .logo .title{
        margin-left: var(----tamaño-font-nav-title);
    }

    /* Estilos del nav */
    .navbar{
        padding: 0 7rem;
    }
    .navbar a{
        text-decoration: none;
        font-size: var(----tamaño-font-nav-a);
    }
}

@media (max-width: 800px) {
    /* Contenido del logo */
    header .logo a{
        font-size: var(-----tamaño-font-nav-a);
    }
    header .logo a span{
        font-size: var(-----tamaño-font-nav-spam);
    }
    header .logo img{
        width: var(-----tamaño-font-nav-img);
    }
    header .logo .title{
        margin-left: var(-----tamaño-font-nav-title);
    }
    /* Estilos del nav */
    .navbar{
        padding: 0 3rem;
    }
    .navbar a{
        text-decoration: none;
        font-size: var(-----tamaño-font-nav-a);
    }
}