.header{
    display: flex;
    justify-content: center;
    font-size: 16px;
    background-color: black;
}
.header__logo{
    width: 30%;
    padding-top: 2rem;
    text-align: center;
}
.header__logo img{
    width: 6rem;
    background-color: white;
    border-radius: 50%;
}
.header__nav{
    width: 70%;
}

.header__nav ul{
    display: flex;
    justify-content: right;
    align-items: center;
}
.nav__link{
    padding: 3rem;
}
.nav__link a{
    color: white;
}
.nav__link img{
    width: 3.5rem;
    border: solid 0.1px;
    border-radius: 50%;
}

/* ESTILOS DEL MAIN */

.main{
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    font-size: 18px;
}
.main__info{
    width: 50%;
    padding: 15rem;
}
.main__info div{
    margin: 5rem 0;
}
.main__info div p{
    margin-top: 2rem;
}
.main__portada{
    width: 50%;
    text-align: center;
    padding: 5rem;
}

/* KEY FRAMES */

/* @media (max-width: 1500px) {

}

@media (max-width: 1090px) {

}

@media (max-width: 800px) {

} */