:root{
    /* Colors */
    --c1: #0b090a;
    --c2: #161a1d;
    --c3: #660708;
    --c4: #a4161a;
    --c5: #ba181b;
    --c6: #e5383b;
    --c7: #b1a7a6;
    --c8: #d3d3d3;
    --c9: #f5f3f4;
    --c10: #ffffff;

    /* Sizes */
    --s1: 1rem;
    --s2: 1.5rem;
    --s3: 2rem;
    --s4: 2.5rem;
    --s5: 3rem;
    --s5: 3.5rem;
    --s6: 4rem;
    --s7: 4.5rem;
    --s8: 5rem;
    --s9: 5.5rem;
    --s10: 6rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size:62.5%;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}