/* Estilos de sección 1 */
.main .main_section1{
    width: 100%;
    height: 87rem;
    display: flex;
    margin: 0;
    background: url(../images/perfil_book.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.main .main_section1 .main_section--perfil{
    width: 80%;
    height: 115%;
    background: rgba(255, 255, 255, 0.4);
    align-items: center;
    text-align: center;
    padding-left: 3.5%;
    padding-top: 2%;
}

.main .main_section1 .main_section--perfil .perfil--card{
    width: 80%;
    height: 80%;
    margin-left: 5%;
    background: rgb(201, 200, 200);
    border-radius: 1.5rem;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0.3em 0.3em 1em rgba(0,0,0,0.6);
    overflow: hidden;
}
.main .main_section1 .main_section--perfil .perfil--card img{
    width: 100%;
}
.main .main_section1 .main_section--perfil .perfil--card .foto_perfil{
    width: 10%;
    position: absolute;
    margin: -5% 12%;
    background: black;
    border-radius: 100%;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.4);
    overflow: hidden;
}
.main .main_section1 .main_section--perfil .perfil--card .perfil--descripcion{
    margin-top: 18%;
    font-size: 2rem;
    font-weight: bold;
}
.main .main_section1 .main_section--perfil .perfil--card .perfil--descripcion p{
    margin-top: -3%;
    font-weight: 200;
}
.main .main_section1 .main_section--perfil .perfil--card .perfil--descripcion .perfil--descripcion__info{
    width: 100%;
    height: 8rem;
    margin-top: 4%;
    display: flex;
    justify-content: center;
    text-align: left;
}
.main .main_section1 .main_section--perfil .perfil--card .perfil--descripcion .perfil--descripcion__info a{
    text-decoration: none;
    margin: 0 1rem;
}
.main .main_section1 .main_section--perfil .perfil--card .perfil--descripcion .perfil--descripcion__info .info--ubicacion{
    width: 100%;
    padding: 0 0 0 8%;
}
.main .main_section1 .main_section--perfil .perfil--card .perfil--descripcion .perfil--descripcion__info .info--redes{
    width: 100%;
    padding-left: 15%;
}

.main .main_section1 .main_section--perfil .perfil--card .perfil--descripcion .perfil--descripcion__info .info--ubicacion iframe{
    width: 100%;
    height: 280%;
    border-radius: 5%;
}



/* SLIDER AUTOMÁTICO */

/* Depende que ancho y largo se de al ul, cambiará en el resto */
.main .main_section1 .main_section--imagenes{
    background: var(--griss-mas-claro);
    width: 100%;
    padding-top: 5.5%;
    overflow: hidden; /*desaparezcan las imagenes*/
    padding-right: 3rem;
    background: rgba(255, 255, 255, 0.3);
}

.main .main_section1 .main_section--imagenes div{
    width: 100%;
    height: 100%;
}

.main .main_section1 .main_section--imagenes ul{
    display: flex;
    width: 400%;
    animation: cambio 20s infinite;
}
.main .main_section1 .main_section--imagenes ul li{
    width:100%;
    list-style: none;
}
.main .main_section1 .main_section--imagenes img{
    width:95%;
    height: 100%;
    border-radius: 1.5rem;
}

@keyframes cambio{
    0% { margin-left: 0; }
    20% { margin-left: 0; }
/* Tiempo de demora de la transición */
    25% { margin-left: -100%; }
    45% { margin-left: -100%; }

    50% { margin-left: -200%; }
    70% { margin-left: -200%; }

    75% { margin-left: -300%; }
    100% { margin-left: -300%; }
}